.login-container {
    width: 460px;
    height: 340px;
    background: #FFFFFF;
    border-radius: 20px;
    margin: 100px auto;
    padding: 0;
}

.login-container__form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column
}

.login-container__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 31px;
    line-height: 38px;
    margin: 25px 0;
}
.login-container__input {
    width:  420px;
    height: 39px;
    margin-bottom: 15px;
    border: 1px solid #D58C51;
    box-sizing: border-box;
    border-radius: 61px;
    padding: 7px 15px 6px;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    color: #D58C51;
}

.login-container__input::placeholder{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    color: rgba(213, 140, 81, 0.44);
}

.login-container-error {
    color: red;
    font-size: 10px;
}

.agreement {
    display: flex;
    margin-bottom: 15px;
    width: 420px;
}
.login-container__cheсkbox {
    position: absolute;
    opacity: 0;
    width: 420px;
    height: 20px;
    margin: 0;
    z-index: 1
}

label {
    margin-left: 20px;
}

.login-container__cheсkbox-mark {
    width: 24px;
    height: 24px;
    border: 2px solid #D58C51;
    box-sizing: border-box;
    border-radius: 50px;
}

.login-container__cheсkbox:checked + .login-container__cheсkbox-mark::after {
    content: '✓';
    position: absolute;
    color: #D58C51;
    font-weight: bold;
    margin-left: 5px;
}