.cards-container {
    width: 100%;
    background-color: #1f1b18;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.cards-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 0;
}

.basket-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("../../images/Vector.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 20px;
}

.basket {
    color: white;
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 40px 20px 0 0;
}
