.card-container {
    border: 1px solid #D58C51;
    max-width:  270px;
    padding: 43px 20px 36px;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-direction: column;
    margin-bottom: 20px;
}

.card__img {
    margin-bottom: 31px;
}

.card__title {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 13px;
}
.card__description {
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 63px;
}
.card__description_detail {
    display: flex;
    justify-content: space-between;
}
.card__weight{
    flex: 1;
}
