button {
    background: none;
    color: black;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 200px;
    height: 42px;
    background: #D58C51;
}

button:disabled {
    background: #a6897a
}