body {
    background-color: #1f1b18;
}
img {
    height: 122px;
    width: 122px;
}

h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 40px 0 10px 20px;
    text-align: center;
}

.container {
    margin: 0 100px 0 100px;
}


.basket-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;

}


.basket-container-title {
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    width: 400px;
}

.basket-container-price {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #D58C51;
    width: 50px;
}
.basket-container-order {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    margin: 30px 115px;
    align-items: center;
}

.basket-container-total {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
}
